.DS_Store
node_modules/
npm-debug.log*
.idea
.vscode


#cordova
!cordova/config.xml
!cordova/platforms/ios/
cordova/platforms/ios/cordova
cordova/platforms/ios/CordovaLib
cordova/platforms/ios/platform_www
cordova/platforms/ios/www
cordova-android-allen


/dist/
**.zip
docs/
/cordova-android/
/cordova-plugin-dir/
